/* font */
/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic-regular.woff') format('woff');
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
    url('../fonts/roboto-v30-cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic-500.woff') format('woff');
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
    url('../fonts/roboto-v30-cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic-700.woff') format('woff');
}

:root {
  /* index-slider */
  --dark-green: #849D8F;
  --blue-gray: #8996A6;
  --light-brown: #9D8B84;
  /* body-colors */
  --basic-white: #FFFFFF;
  --full-black: #323232;
  --black-hit: #231F20;
  /* gradient-button */
  --gradient-start: #F26843;
  --gradient-end: #E74A35;
  /* form */
  --white-beige: #F8F7F4;
  --black-form: #5A5A5A;
  /* cart-item */
  --red-orange: #E84D37;
  /* catalog-item */
  --lightest-pink: #FBDED7;
  --catalog-red: #D07058;
  --light-pink: #F6B5A5;
}

/* body основные/превуалирующие параметры */
body {
  min-width: 1200px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--dark-green);
  color: var(--basic-white);
}

a {
  color: var(--basic-white);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2, h3 {
  margin: 0px;
  padding: 0px;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  /* выравнивает по верху */
}

/* header/site-navigation */
.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
}

.main-header-logo {
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  width: 154px;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(255, 255, 0, 0.3);
  outline-offset: -5px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  outline: 5px solid rgba(255, 180, 0, 0.3);
  outline-offset: -5px;
  padding-top: 30px;
}

.site-navigation-link {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 18px;
  padding: 9px 14px;
  margin-top: 23px;
}

.current-site-item .site-navigation-link {
  background-color: var(--catalog-red);
  color: var(--basic-white);
  border-radius: 26px;
}

.site-navigation-item:not(.current-site-item) .site-navigation-link:hover {
  border-radius: 26px;
  color: var(--full-black);
  background-color: var(--basic-white);
  border-bottom: none;
}

.site-navigation-item:not(.current-site-item) .site-navigation-link:active {
  background: #EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
  border-bottom: none;
}

.user-navigation-search-link {
  /* я хз, мне кажется лупа не по центру, я не понимаю как сделать, чтобы она была в центре кружка */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.user-navigation-search-link:hover {
  color: var(--full-black);
  background-color: var(--basic-white);
}

.form-search {
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  height: 84px;
}

.user-navigation-input {
  background: #FFFFFF;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
}

.user-navigation-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.user-navigation-input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: 0;
}

.user-navigation-input:valid {
  font-weight: 700;
  color: #323232;
}

.user-navigation-login-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 44px;
  padding-right: 16px;
  position: relative;
}

.user-navigation-login-link:hover {
  color: var(--full-black);
  background-color: var(--basic-white);
}

.form-login {
  background: #FFFFFF;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
}

.sign-block {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.email-input:invalid {
  font-weight: 700;
  color: #323232;
}

.user-navigation-login-button {
  font-size: 18px;
  line-height: 16px;
}

.form-login-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #323232;
  border-bottom: 2px solid #353535;
}

.user-navigation-cart-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 44px;
  padding-right: 16px;
}

.user-navigation-cart-link:hover {
  color: var(--full-black);
  background-color: var(--basic-white);
}

.cart-content {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--full-black);
  background-color: var(--basic-white);
}

.cart-content-table {
  border-bottom: 1px solid #CACAC7;
}

.cart-item-link {
  color: var(--full-black);
  border-radius: 50%;
}

.button-checkout {
  font-size: 18px;
  line-height: 16px;
}

.catalog-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  border-radius: 4px;
}

.catalog-navigation-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.catalog-navigation-link b {
  font-size: 14px;
  line-height: 18px;
}

.current-page-item {
  background-color: #D07058;
}

.current-page-item .catalog-navigation-link {
  color: var(--basic-white);
}

.catalog-navigation-link {
  color: var(--full-black);
  border-radius: 4px;
}

.catalog-navigation-link:not(.current-page-item .catalog-navigation-link):hover {
  background: #FBDED7;
}

.catalog-navigation-link:not(.current-page-item .catalog-navigation-link):active {
  background: #F6B5A5;
}

/* header/contacts */
.contacts {
  display: grid;
  justify-items: end;
  width: 1146px;
  outline: 5px solid rgba(155, 155, 0, 0.7);
  outline-offset: -5px;
}

.contacts-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  width: 149px;
  height: 16px;
}

.contacts-phone {
  font-size: 22px;
  line-height: 24px;
}

/* big-offers */
.content {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.big-offers {
  text-align: center;
}

.big-offers-list-slider {
  list-style: none;
}

.big-offers-link:hover {
  color: #FFBC9E;
}

.big-offers-slide:not(.current-slide) {
  overflow: hidden;
  height: 0;
}

.button {
  display: inline-block;
  background-image: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  font: inherit;
  color: var(--basic-white);
  vertical-align: middle;
  text-align: center;
  border-radius: 70px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.button-give-two {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 12px 23px;
}

.big-offers-item-text {
  font-size: 60px;
  line-height: 60px;
}

.slider-button-list {
  list-style: none;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

li .slider-button {
  width: 21px;
  height: 21px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
}

.slider-item {
  margin-right: 8px;
}

.current-slider-item .slider-button {
  background-color: var(--basic-white);
}

.slider-item:not(.current-slider-item) .slider-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.slider-item:not(.current-slider-item) .slider-button:active {
  background-color: var(--basic-white);
}

/* promotions */
.promotions-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.promotions-item h3 {
  font-size: 35px;
  line-height: 41px;
}

.promotions-item {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 522px;
}

.promotions-item:nth-of-type(1) {
  background-image: url("../img/malina-back.jpg");
}

.promotions-item:nth-last-of-type(1) {
  background-image: url("../img/shocko-back.jpg");
}

.promotions-item-text {
  font-size: 18px;
}

.promotions-item-link {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 15px 22px;
}

/* hits */
.hits-list {
  margin: 40px 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 267px);
  column-gap: 26px;
}

.hits-item-link h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hits-item-link h3:hover {
  color: #FFBC9E;
}

.hits-item-text {
  content: "";
  width: 61px;
  height: 61px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-svg/hit.svg");
  background-position: center;
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 50%;
}

/* также повторяется для айтемов каталога */
.icecream-jpg {
  border-radius: 50%;
}

.hits-item-price {
  font-size: 30px;
  line-height: 35px;
}

.hits-item-price b {
  font-size: 45px;
  line-height: 45px;
}

.hits-list h3 {
  font-weight: 500;
  font-size: 16px;
}

.button-quick-view {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 12px 16px;
}

/* advantages */
.advantages {
  color: var(--full-black);
  background-image: url("../img/pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 36px;
  padding-left: 20px;
  padding-right: 23px;
}

.advantages h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 21px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item-text {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-repeat: no-repeat;
  background-size: auto auto;
  width: 485px;
  position: relative;
  padding-left: 60px;
}

.advantages-item:nth-child(2n) {
  margin-bottom: 33px;
}

/* Тут я понял. что флекс в такой хуйне удобнее. так как я ща задам отступы только для 3 элемента. и если добавятся еще преимущества, то будет хуевенько   margin-left: 75px;
  margin-bottom: 26px;*/
.advantages-ice-cream::before {
  position: absolute;
  top: -20px;
  left: 5px;
  content: "";
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-svg/icecream.svg");
  border: 2px solid #323232;
  border-radius: 50%;
  /* Тестил  пнг но супер сильно ебется качество. думал за счёт примитивных цветов пнг может быть. хуй */
}

.advantages-leaf::before {
  position: absolute;
  top: -20px;
  left: 5px;
  content: "";
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-svg/leaf.svg");
  border: 2px solid #323232;
  border-radius: 50%;
}

.advantages-cow::before {
  position: absolute;
  top: -20px;
  left: 5px;
  content: "";
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-svg/cow.svg");
  border: 2px solid #323232;
  border-radius: 50%;
}

.advantages-thermometer::before {
  position: absolute;
  top: -20px;
  left: 5px;
  content: "";
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-svg/thermometer.svg");
  border: 2px solid #323232;
  border-radius: 50%;
}

/* article */
.news {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

/* article */
.article {
  display: block;
  color: var(--full-black);
  background-image: url("../img/strawberry-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding-top: 23px;
  padding-left: 20px;
  /*padding-right: 253px;*/
}

.article-caption {
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}

.article-text-link {
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: var(--full-black);
  width: 287px;
  margin-right: 253px;
}

.article-text-link:hover {
  color: #E84D37;
}

.article-text-link b {
  border-bottom: 2px solid #353535;
}

.article-text-link b:hover {
  border-bottom: 2px solid #E84D37;
}

/* newsletter */
.newsletter {
  display: flex;
  background: url("../img/mail-back.png");
  border-radius: 16px;
  padding: 5px;
}

.newsletter-wrapper {
  margin: 0;
  color: var(--black-form);
  /* ХЗ как сделать радиус */
  border-radius: 16px;
  background-color: #F8F7F4;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 20px;
  padding-top: 29px;
  padding-right: 16px;
}

.newsletter-text {
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}

.newsletter-form {
  display: flex;
}

.newsletter-input {
  width: 368px;
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 50px;
  margin-bottom: 35px;
}

.newsletter-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.newsletter-input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: 0;
}

.newsletter-input:valid,
.newsletter-input:invalid {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.button-newsletter {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  margin-left: 10px;
  padding: 14px 19px;
}

/* contacts */
.main-contacts {
  color: var(--full-black);
  background-color: #FEFEFE;
  width: 303px;
  border-radius: 16px;
  position: absolute;
  top: 55px;
  right: 30px;
}

.main-contacts-phone {
  color: var(--full-black);
}

.main-contacts-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 32px;
  padding-left: 25px;
  margin-bottom: 31px;
}

.main-contacts-address b {
  font-size: 18px;
  line-height: 24px;
}

.button-contacts {
  padding: 13px 28px;
  margin-left: 25px;
  margin-bottom: 31px;
}

/* map */
.map {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

.map .map-png {
  display: block;
}

.map .iframe {
  border: none;
}

.map .marker-svg {
  position: absolute;
  left: 200px;
  top: 140px;
}

/* footer */
.main-footer {
  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
  padding-top: 18px;
  padding-bottom: 25px;
}

.container-footer {
  display: flex;
  width: 1146px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  min-width: 179px;
  justify-content: space-between;
}

.footer-contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 327px;
}

.footer-contacts-item {
  min-width: 111px;
  position: relative;
}

.footer-contacts-item {
  margin-right: 32px;
}

.footer-contacts-item:nth-child(2n) {
  margin-right: 0;
}

.social-button {
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  align-self: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button path {
  fill: var(--basic-white);
  fill-opacity: 0.8;
}

.social-button:hover path,
/* Не совсем понимаю. Как менять это всё при наведении */
.social-button:active path {
  fill: var(--basic-white);
  fill-opacity: 1;
}

.social-button:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-contacts-link:hover {
  color: #FFBC9E;
  border-bottom: 1px solid #FFBC9E;
}

.heart::before  {
  content: "";
  position: absolute;
  background-image: url("../img/icon-svg/heart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  top: 7px;
  left: -20px;
}

.footer-copyright p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.footer-copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright-link:hover {
  color: #FFBC9E;
  border-bottom: 1px solid #FFBC9E;
}

.catalog-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* feedback пока что вынес ниже header */
.social-feedback {
  position: relative;
  /* Не понимаю как сделать тут крестик. не получается просто */
}

.feedback-form {
  display: flex;
  flex-direction: column;
  background: #F8F7F4;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 453px;
  padding-left: 23px;
  padding-top: 20px;
}

.feedback-form h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin-bottom: 26px;
}

.feedback-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 14px 24px;
  margin-left: auto;
  margin-right: 25px;
  margin-bottom: 27px;
}

.feedback-button-close {
  position: absolute;
  top: 5px;
  left: 450px;
  width: 18px;
  height: 17px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.feedback-button-close::before,
.feedback-button-close::after {
  content: "";
  position: absolute;
  background: #231F20;
  width: 19px;
  height: 2px;
  top: 10px;
  left: 2px;
}

.feedback-button-close::before {
  transform: rotate(45deg);
}

.feedback-button-close::after {
  transform: rotate(-45deg);
}

.feedback-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
  margin-bottom: 20px;
}

.feedback-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}

.feedback-input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 4px;
  outline: 0;
}

.feedback-input:valid {
  font-weight: 700;
  color: #323232;
}

.feedback-email-input:invalid {
  font-weight: 700;
  color: #323232;
}

.feedback-textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
  margin-bottom: 25px;
  width: 428px;
  height: 154px;
  resize: none;
}

.feedback-textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}

.feedback-textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 4px;
  outline: 0;
}

.feedback-textarea:valid {
  font-weight: 700;
  color: #323232;
}

/* catalog. всё после хедера ( контент и клебные крошки) */
.catalog-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-content h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.catalog-breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 224px;
}

.catalog-breadcrumbs-item {
  margin-left: 22px;
}

.catalog-breadcrumbs-item:nth-child(1) {
  margin-left: 0;
}

.catalog-breadcrumbs-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.catalog-breadcrumbs-link:hover {
  color: #FFBC9E;
  border-bottom: 1px solid #FFBC9E;
}

/* Фильтр каталога */
.filter-container {
  width: 869px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter-group {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  margin-bottom: 10px;
}

.filter-group p {
  margin: 0;
}

.filter-group:nth-child(1) {
  margin-left: 0;
}

.filter-group:nth-child(4) {
  margin-left: 0;
}

.filter-group .filters-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-sorting {
  /* пока задал такой цвет. нужно будет убрать само поле фильтра */
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--blue-gray);
  margin-left: 0;
}

.filter-sorting:hover {
  color: #323232;
}

.filter-fat {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-extender {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0;
}

.filter-button {
  font-weight: 500;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--basic-white);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 15px;
  padding: 0;
}

.filter-button:hover {
  background-color: var(--basic-white);
  color: var(--full-black);
  border-radius: 20px;
}

.filter-button:active {
  background-color: #EDEDED;
  color: var(--full-black);
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 20px;
}

/* Мороженки в разделе каталога */
.catalog-list {
  margin: 40px 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 267px);
  column-gap: 26px;
  row-gap: 40px;
}

.catalog-list h3 {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-text {
  font-size: 30px;
  line-height: 35px;
}

.catalog-item-text b {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-link h3 {
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-link h3:hover {
  color: #FFBC9E;
}

/* Блок пагинации в каталоге */
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  margin-right: 27px;
}

.pagination-item {
  margin-left: 20px;
  margin-bottom: 30px;
}

.pagination-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pagination-item-current a {
  background: #FFFFFF;
  color: var(--full-black);
  border-radius: 50%;
}

.pagination-item:not(.pagination-item-current, .disabled-item) .pagination-item-link:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item:not(.pagination-item-current, .disabled-item) .pagination-item-link:active {
  background: #FFFFFF;
  color: var(--full-black);
  border-radius: 50%;
}

.disabled-item a {
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(-180deg);
  opacity: 0.2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg-search {
  position: absolute;
}

.user-navigation-search-link:hover path {
  fill: black;
}

.user-navigation-login-link svg {
  position: absolute;
  right: 55px;
  top: 7px;
}

.user-navigation-login-link:hover path {
  fill: black;
}

.user-navigation-cart-link:hover path {
  fill: black;
}

.user-navigation-cart-link svg {
  position: absolute;
  right: 60px;
  top: 5px;
}

.user-navigation a {
  margin-left: 10px;
}

.promotions-item {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.promotions-item h3 {
  margin-bottom: 16px;
}

.promotions-item .promotions-item-text {
  margin-bottom: 42px;
}

.promotions-item:nth-of-type(1) .button {
  margin-left: auto;
}

.promotions-item:nth-of-type(2) .button {
  margin-left: auto;
}

.hits-item {
  position: relative;
}

.hits-item::before {
  content: "";
  position: absolute;
  top: -6;
  left: -13;
  width: 293px;
  height: 402px;
  background: #FFFFFF;
  opacity: 0.2;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 21px;
  padding-left: 13px;
  padding-right: 13px;
}

.hits-item h3 {
  margin-bottom: 14px;
}

.hits-item .button-quick-view {
  margin-left: 33px;
}

.hits-item-content {
  position: relative;
}

.hits-item-link {
  text-align: center;
}

.hits-item .hits-item-price {
  position: absolute;
  top: 180px;
}

.address {
  width: 303px;
}
