/* fonts */
/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic-regular.woff') format('woff');
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
    url('../fonts/roboto-v30-cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic-500.woff') format('woff');
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
    url('../fonts/roboto-v30-cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic-700.woff') format('woff');
}

:root {
  /* index-slider */
  --dark-green: #849D8F;
  --blue-gray: #8996A6;
  --light-brown: #9D8B84;
  /* body-colors */
  --basic-white: #FFFFFF;
  --full-black: #323232;
  --black-hit: #231F20;
  /* gradient-button */
  --gradient-start: #F26843;
  --gradient-end: #E74A35;
  /* form */
  --white-beige: #F8F7F4;
  --black-form: #5A5A5A;
  /* cart-item */
  --red-orange: #E84D37;
  /* catalog-item */
  --lightest-pink: #FBDED7;
  --catalog-red: #D07058;
  --light-pink: #F6B5A5;
}

body {
  mid-width: 1200px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  background-color: var(--dark-green);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 22px;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation-list {
  line-height: 18px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.catalog-navigation {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.page-body a {
  color: var(--basic-white);
  text-decoration: none;
}

.contacts-text {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
}

.contacts-phone {
  font-size: 22px;
  line-height: 24px;
}

h1 {
  text-align: center;
}

.big-offers {
  text-align: center;
}

.big-offers-list-slider {
  list-style: none;
}

.button {
  background-image: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  font: inherit;
  color: var(--basic-white);
  vertical-align: middle;
  text-align: center;
  border-radius: 70px;
}

.button-give-two {
  font-size: 32px;
  line-height: 44px;
}

.big-offers-item-text {
  font-size: 60px;
  line-height: 60px;
}

.slider-button-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.promotions-item h3 {
  font-size: 35px;
  line-height: 41px;
}

.promotions-item-text {
  font-size: 18px;
}

.promotions-item-link {
  font-size: 18px;
  line-height: 24px;
}

.hits-list {
  list-style: none;
}

.hits-item-price {
  font-size: 30px;
  line-height: 35px;
}

.hits-item-price b {
  font-size: 45px;
  line-height: 45px;
}

.hits-list h3 {
  font-weight: 500;
}

.button-quick-view {
  font-size: 18px;
  line-height: 24px;
}

.advantages {
  color: var(--full-black);
}

.advantages h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.advantages-item-text {
  font-weight: 400;
}

.article {
  color: var(--full-black);
}

.article-caption {
  font-weight: 500;
}

.article-text {
  font-size: 24px;
  line-height: 30px;
}

.article-text b {
  text-decoration: underline;
  color: var(--full-black);
}

.newsletter {
  color: var(--black-form);
}

.newsletter-text {
  font-weight: 400;
}

.contacts {
  color: var(--full-black);
}

.contacts-phone b {
  color: var(--full-black);
}

.contacts-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts-adress b {
  font-size: 18px;
  line-height: 24px;
}

.footer-social-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-contacts-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* catalog */

.site-navigation-button {
  background-image: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  font: inherit;
  color: var(--basic-white);
  vertical-align: middle;
  text-align: center;
  border-radius: 70px;
}

.site-navigation-item {
  line-height: 18px;
}

.user-navigation-cart-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--full-black);
}

.catalog-breadcrumbs-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.catalog-breadcrumbs-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.catalog-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.catalog-item-text {
  font-size: 30px;
  line-height: 35px;
}

.catalog-item-text b {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item h3 {
  font-weight: 500;
}

.pagination-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
